# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.db
*.sqlite3

# Node.js
node_modules/
dist/
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Models & Large Files
*.pth
*.h5
*.bin
*.exe
*.zip
*.docx
*.pdf

# Other Projects
SE-Lab-Election-Commission-and-Political-Party/
